// COLORS

$color-primary: #a29bfe;
$color-primary-light: #74b9ff;
$color-primary-dark: #6c5ce7;

$color-secondary-light: #fab1a0;
$color-secondary-dark: #e17055;

$color-tertiary-light: #fd79a8;
$color-tertiary-dark: #e84393;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dfe6e9;
$color-grey-light-3: #b2bec3;


$color-grey-dark: #2d3436;
$color-grey-dark-2: #2d3436;
$color-grey-dark-3: #777d;

$color-white: #fff;
$color-black: #000;


// FONT

$default-font-size: 1.6rem;


// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
